@{
    ViewData["Title"] = "Blog";
}
@model BlogModel
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

<div>
    @foreach (var entry in Model.Entries)
    {
        <h2><a href="/blog/@entry.Fields.slug">@entry.Fields.title</a></h2>

        <p><strong>Created at:</strong> @entry.SystemProperties.CreatedAt</p>
        <p>
            @Html.Raw(CommonMark.CommonMarkConverter.Convert(Utils.Truncate(@entry.Fields.Value<string>("content"), 200)))
        </p>
        <hr />
    }

    @if (!Model.Entries.Any())
    {
        <p>You have no entries, you should create some!</p>
    }
</div>